#include <winver.h>

1 ICON "PrtEasyBAK.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "PrtEasyBAK"
            VALUE "FileDescription", "PrtEasyBAK Printer Backup and Restore Tool"
            VALUE "FileVersion", "1.2.0.0"
            VALUE "InternalName", "PrtEasyBAK"
            VALUE "OriginalFilename", "PrtEasyBAK.exe"
            VALUE "ProductName", "PrtEasyBAK"
            VALUE "ProductVersion", "1.2.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2026"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
